-i https://pypi.org/simple/
asgiref==3.3.0
attrs==20.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.2
django==3.0.7
idna==2.10
jsonschema==3.2.0
mmh3==2.5.1
optimizely-sdk==3.4.1
pycparser==2.20
pyopenssl==19.1.0
pyrsistent==0.17.3
pytz==2020.1
requests[security]==2.24.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.25.11
